.finish{
    width: 400px;
    height: 600px;
    border: 2px solid black;
    margin:200px auto;
    display: flex;
    flex-wrap: wrap;
}

.finish .score{
    width: 100%;
    margin-top: 100px;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}
.finish .button{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    font-size: 1.5em;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    margin: 20px auto;
}
.finish .button:hover{
    cursor: pointer;
}
.finish .result{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
}